@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  transition: all 0.25s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}